<div class="col-md-12 container-fluid">
    <div class="row">
        <table class="table table-warning">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Esponja</td>
                    <td>R$: 5,00</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>