<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Mercadão do Seu Zé</h1>
        </div>
    </div>
    <div class="row centralize">
        <div class="col-md-12">
            <app-filtro></app-filtro>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <app-tabela></app-tabela>
        </div>
    </div>
</div>