<form [formGroup]="formsFiltro">
    <div class="row">
       <input type="text" class="form-control text-center" id="produto" placeholder="Produto">
    </div> 
    <div class="row mt-2">
       <input type="text" class="form-control text-center" id="preco" placeholder="Preço">
    </div> 
    <div class="row mt-2">
       <input type="text" class="form-control text-center" id="quantidade" placeholder="Quantidade">
    </div>
</form>   