/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.imgFundo {
    background-image: url('./assets/imagemprincipalfundo.jpg');
    background-size: 50%;
}